anime-cli==0.3.4
asgiref==3.5.0
asyncio-dgram==2.1.0
AudioConverter==0.4.1
autopep8==1.6.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
colorama==0.4.4
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
distlib==0.3.3
Django==4.0.2
dnspython==2.1.0
docx2pdf==0.1.8
eyed3==0.9.6
ffmpeg==1.4
ffprobe==0.5
filelock==3.4.0
filetype==1.0.9
fire==0.4.0
Flask==2.0.2
flask-ipban==1.1.5
flask-sock==0.4.0
fonttools==4.28.5
gunicorn==20.1.0
h11==0.13.0
html5lib==1.1
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
img2pdf==0.4.3
inquirerpy==0.3.1
itsdangerous==2.0.1
Jinja2==3.0.3
Js2Py==0.71
lxml==4.7.1
lyricsgenius==3.0.1
MarkupSafe==2.0.1
mcstatus==6.5.0
mhyt==3.5.5
moviepy==1.0.3
numpy==1.21.5
opencv-python==4.5.5.62
packaging==21.3
pdf2docx==0.5.2
pdf2image==1.16.0
pfzy==0.3.3
pikepdf==4.3.1
Pillow==8.4.0
platformdirs==2.4.0
proglog==0.1.9
prompt-toolkit==3.0.24
pycodestyle==2.8.0
pydub==0.25.1
pyjsparser==2.7.1
PyLyrics==1.1.0
PyMuPDF==1.19.3
pyparsing==3.0.6
python-docx==0.8.11
pytube==11.0.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.26.0
simple-websocket==0.5.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
stripe==2.65.0
termcolor==1.1.0
toml==0.10.2
tqdm==4.62.3
tube-dl==5.0.4
Turbo-Flask==0.8.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wsproto==1.0.0

