@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container-fluid{
    background-color: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.align-middle{
   color: white;
   text-align: center;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
}
.center{
    position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-390px;
    margin-top:-325px;
}