<!DOCTYPE html>
<html>
    <head><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TM56CWZR1B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TM56CWZR1B');
</script><title>Admin Panel</title></head>
    <body>
        <form action="/admin" method="post">
           
        <input name="ip" type="text" placeholder="Ip">
        <button type="submit">Ban</button>
        </form>
    </body>
</html>