<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Music Downloader</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/thumb.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/btn.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Youtube Music Downloader</h1>
      </div>
      <br /><br /><br /><br />
      <p class="tuto">
        Step one copy a link of a youtube video and paste it on the search bar
        then click on the download button .
      </p>
      <br><br><br><br>
      <form action="/music_s" method="post">
        
        <br /><br /><br />
        <div class="btn">
            <form action="/music_s"  method="post">
          <input class="url"  name = "url" placeholder="Enter url">
            
            <br>
            <button type="submit" class="bttn-unite bttn-md bttn-primary">Submit</button>
        </form>
        </div>
        <br><br><br>
       
        <div class="yt_title">
            <p> {{ tit }} </p>
            
        </div>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      
    </div>
  </body>
</html>
