<!DOCTYPE html>
<html>
<head>
    <title>DOCX to pdf</title>
    <meta name="title" content="All in one tools">
<meta name="description" content="All in one tools is a website which have all the tools you need in one website">
<meta name="keywords" content="converter,online-converter,mp4 to mp3,minecraft server status,image converter,music downloader,music download,image compressor,audio compressor,music compressor">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Adhul Krishna">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap/bootstrap.min.css') }}" />

</head>
<body>
    <div class="container-fluid">
        <h1 class="titless">Docx to pdf</h1>
        <br><br><br>
        <main class="container d-flex justify-content-center">
            <div class="" style="width: 18rem;">
                <form class="mb-3  mt-5" action="/pdf" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                        <input class="form-control" type="file" name="pdf" required>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block" type="submit">Convert</button>
                    </div>
                </form>
            </div>
        </main>
    </div>







    <script src="{{ url_for('static', filename='js/boostrap/bootstrap.bundle.min.js') }}"></script>

</body>
</html>