<!DOCTYPE html>
<html>
<head>
<title>Minecraft server status</title>
<meta charset="utf-8" />
<meta name="title" content="All in one tools">
<meta name="description" content="All in one tools is a website which have all the tools you need in one website">
<meta name="keywords" content="converter,online-converter,mp4 to mp3,minecraft server status,image converter,music downloader,music download,image compressor,audio compressor,music compressor">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Adhul Krishna">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--Modules here pls-->
<script src="https://use.fontawesome.com/bae7dfc4a3.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stat.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/btn.css')}}" />
</head>
<body>
    <div class="container">
      <div class="title">
        <h1>Youtube Thumbnail Downloader</h1>
      </div>
      <br /><br /><br /><br />
      <p class="tuto">
        Step one get the ip of the server which you want to know the status paste it in here and click on Check button and boom!
      </p>
      <div class="main">
      <form method="post">
        <input
          class="url"
          type="text"
          name="ip"
          placeholder="Enter server ip"
          required
        />
        <br /><br /><br />
        <div class="btn">
            
          <button class="bttn-unite bttn-md bttn-primary" type="submit">
            Check
          </button>
        </form>
    </div>
        </div>
        <br><br><br>
       
        <div class="status">
           <p>Players - &nbsp; {{players}} </p> &nbsp; 
           <br>
           <br>
           <br>
           <p>Max Players  - &nbsp; {{ mplayers }}</p> 
           <br>
           <br>
           <br>
           <p>Version - &nbsp; {{ verion }}</p>
           <br>
           <br>
           <br>
           <p>MOTD - &nbsp; {{motd}}</p>
           <br>
           <br>
           <br>
           <p>Favicon - <img src="{{favicon}}"></p>
            
        </div>
      </form>
    </div>
  </body>
</html>