<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Thumbnail Downloader</title>
    <meta charset="utf-8" />
    <meta name="title" content="All in one tools">
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/hammer.png">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TM56CWZR1B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TM56CWZR1B');
</script>
<meta name="description" content="All in one tools is a website which have all the tools you need in one website">
<meta name="keywords" content="converter,online-converter,mp4 to mp3,minecraft server status,image converter,music downloader,music download,image compressor,audio compressor,music compressor">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Adhul Krishna">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/nav.css')}}"
  />
<div class="topnav">
<div class="hover-underline-animation">

<a class="active" href="/">Home</a> 
<a href="/contact">Contact</a>
<a href="https://discord.gg/wYSDCaRSZw">Discord</a>
<a href="https://status.beast-bot.ga">Status</a>

</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1592285788506158"
     crossorigin="anonymous"></script>
</div>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/thumb.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/btn.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Youtube Thumbnail Downloader</h1>
      </div>
      <br /><br /><br /><br />
      <p class="tuto">
        Step one copy a link of a youtube video and paste it on the search bar
        then click on the download button and right click on the thumbnail and click on save image as to save it on your computer.
      </p>
      <br><br><br><br>
      <form action="/thumbnail" method="post">
        <input
          class="url"
          type="text"
          name="url"
          placeholder="Enter video url"
          required
        />
        <br /><br /><br />
        <div class="btn">
            <form action=" {{ img }} " method="get">
          <button onclick="windows.open('{{img}}')" class="bttn-unite bttn-md bttn-primary" type="submit">
            Download
          </button>
        </form>
        </div>
        <br><br><br>
        <div class="thumb">
            <img  class="thumb" src=" {{img}} ">
        </div>
        <div class="yt_title">
            <p> {{ tit }} </p>
            
        </div>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      
    </div>
  </body>
</html>
