<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Video Downloader</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/thumb.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/btn.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Youtube Vdeo Downloader</h1>
      </div>
      <br /><br /><br /><br />
      <p class="tuto">
        Step one copy a link of a youtube video and paste it on the search bar
        then click on the download button.
      </p>
      <br><br><br><br>
      <form action="/video" method="post">
        <input
          class="url"
          type="text"
          name="url"
          placeholder="Enter video url"
          required
        />
        <br /><br /><br />
        <div class="btn">
            <form action=" {{ img }} " method="get">
              <input name="submit" value="1080p"  class="bttn-unite bttn-md bttn-primary" type="submit">
              <br>
              <br>
              <br>
              <br>
          <input name="submit" value="720p"  class="bttn-unite bttn-md bttn-primary" type="submit">
            
            </input>
            <br><br><br><br>
            <input name="submit" value="360p"  class="bttn-unite bttn-md bttn-primary" type="submit">
            
            </input>
        </form>
        </div>
        <br><br><br>
  
        <div class="yt_title">
           
            
        </div>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      
    </div>
  </body>
</html>
