<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/404.css') }}"
        />
        <!-- CSS only -->
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/btn.css')}}"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap/bootstrap.min.css') }}" />

    </head>
    <body>
<div class="container-fluid">

 





</div>
        <script src="{{ url_for('static', filename='js/boostrap/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>