<!DOCTYPE html>
<html>
  <head>
    <title>All in one tools</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Modules here pls-->
    <script src="https://use.fontawesome.com/bae7dfc4a3.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/btn.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>All in one tools</h1>
        <br /><br />
        <p>All the tools you need in one website</p>
      </div>
      <br /><br /><br />
      <div class="tools">
        <h1 class="tools-title">Tools</h1>
        <br /><br />
        <div class="stats">
          <h2>Minecraft Server Status</h2>
          <img
            src="https://img.icons8.com/color/480/000000/minecraft-grass-cube.png"
          />
          <p>Know the current status of any minecraft server (java version)</p>
        </div>
        <br /><br />
        <div class="thumb">
          <h2>Youtube Thumbnail Downloader</h2>
          <img
            src="https://img.icons8.com/external-bearicons-flat-bearicons/480/000000/external-thumbnail-essential-collection-bearicons-flat-bearicons.png"
          />
          <p>Download thumbnail of any youtube videos for free</p>
        </div>
        <br /><br />
        <div class="video">
          <h2>Youtube video downloader</h2>
          <img src="https://img.icons8.com/color/480/000000/youtube-play.png" />
          <p>Download youtube video for free and without any pop-ups</p>
        </div>
        <br /><br />
        <div class="lyrics">
          <h2>Image converter</h2>
          <img
            src="https://img.icons8.com/color/480/000000/image.png"
          />
          <p>Convert your image into many formats</p>
        </div>
        
      </div>
    </div>
  </body>
</html>
